body {
	background: url(../images/wood4.jpg) repeat;
	color:#333;
	margin:0px;
	padding:0px;

	font: 13px/18px georgia, "times new roman", times, "hiraminpro-w3", "ms mincho", serif;
}
#big_container {
	
	width: 100%;
	background: url(../images/top_bkg320.png) repeat-x 0px 0px;
	overflow: inherit;
	margin:0px;
	padding:0px;
	
}

#main_container {
	
	
	
	background: url(../images/page_shadow320.png) no-repeat top;
	}

#top_bar {
	
	  text-align: center;
	
}

#picture {
	display:none;
}

#content {
	margin: 0 auto;
	width:440px
	
	
}

#menu{
	width: 100%;

	
}
	
#logo{
	
	
}
	
.col4 {
	width:210px;
	float:left;
	}
	
.col4_last {
	width:210px;
	float:left;	
}
	
.col5_left {
	width:440px;
	float:left;
}
	
.col5_right
{
	width:440px;
	float:right;
	
	}
	
.clearme {clear: both;}

#menu ul{
	list-style:none;
	margin: 0 0 0 -28px;
	
	}
#menu ul li{
	
	display: inline-table;
	}

a.home {
	background:url("../images/menu_320.png") no-repeat 0px 0px;
	display:block;
	width: 57px;
  	height: 20px;
	
}
	
a.home:hover{ 
background: url("../images/menu_320.png") no-repeat 0px -50px;
}

a.about {
	background:url("../images/menu_320.png") no-repeat -57px 0px;
	display:block;
  	width: 87px;
  	height: 20px;
	}
a.about:hover
{ 
background: url("../images/menu_320.png") no-repeat -57px -50px;
}

a.food {
	background:url("../images/menu_320.png") no-repeat -144px 0px;
	display:block;
  	width: 57px;
  	height: 20px;
	
	}
a.food:hover
{ 
background: url("../images/menu_320.png") no-repeat -144px -50px;
}
a.drink {
	background:url("../images/menu_320.png") no-repeat -201px 0px;
	display:block;
  	width: 68px;
  	height: 20px;
	
	}
a.drink:hover
{ 
background: url("../images/menu_320.png") no-repeat -201px -50px;
}
a.gift {
	background:url("../images/menu_320.png") no-repeat 0px -20px;
	display:block;
  	width: 160px;
  	height: 26px;
	
	}
a.gift:hover
{ 
background: url("../images/menu_320.png") no-repeat  0px -70px;
}
a.contact {
	background:url("../images/menu_320.png") no-repeat -156px -20px;
	display:block;
  	width: 113px;
  	height: 26px;
	}
a.contact:hover{ 
background: url("../images/menu_320.png") no-repeat -156px -70px;}


	
.mid_pod {
	background: url(../images/mid_w1.png); 
	padding:10px 10px 10px 10px;
		} 

.footer{
	font-size: 14px;
	color: #DCD6C8;
	text-align: center;
	clear: both;	
	}

h2{
	font-weight:normal;
	color:#660000;}

.col2_left {
	width:670px;
	margin-right:20px;
	float:left;}
	
	.col2_right {
	width:670px;
	margin-left:20px;
	float:right;}
	
.top_3pod {
	background: url(../images/top_w2.png) no-repeat;
	height:6px;
	width:670px;
	display:block;
	margin:0px;}

.bottom_3pod {
	background: url(../images/bottom_w2.png) no-repeat;
	height:6px;
	margin:0px;
	width:670px;
	display:block;}

.mid_3pod {
	background: url(../images/mid_w2.png) repeat-y; 
	padding:4px 10px 10px 10px; } 


.top_2pod {
	background: url(../images/top_w3.png) no-repeat;
	height:6px;
	width:440px;
	display:block;
	margin:0px;}
	
.bottom_2pod {
	background: url(../images/bottom_w3.png) no-repeat;
	height:6px;
	margin:0px;
	width:440px;
	display:block;
}
.mid_2pod {
		background: url(../images/mid_w3.png) repeat-y;
	
		padding:4px 10px 10px 10px;
		margin:0;
		}

#sidemenu ul{
	list-style:none;
	list-style-position:outside;
	margin:0;
	padding:0;	}
	
#sidemenu ul li{
	background-image:url(../images/seperator.gif);
	height:32px;
	font-style:italic;}
	
a {
	color:#894F2A;
	text-decoration:none;}
	
a:hover{
	color:#600;}
